sudo: required

language: generic

services:
  - docker

before_install:
  - echo "Start creating docker image"
  - docker build -t jiweon/docker-react-app -f Dockerfile.dev .

script: 
  - docker run -e CI=true jiweon/docker-react-app npm run test -- -- coverage

after_success:
  - echo "Test success"